@model Zbuss_Proyect.Models.TbUsuarios

@{
    ViewData["Title"] = "ConfigurarContrasena";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
        <h2><i class="bi bi-exclamation-triangle-fill"></i> Alerta!</h2>
        @ViewBag.Error
    </div>
}

<h1>Reestablecer contraseña</h1>

<h4>Configuración</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfigurarContrasena">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contrasena" class="control-label">Nueva Contraseña</label>
                <input asp-for="Contrasena" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label">Confirmar Contraseña</label>
                <input asp-for="Celular" type="password" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reestablecer contraseña" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Iniciar Sesión</a>
</div>

